#seaslogo {
    float:right;
}
h1 {
    margin-bottom: 40px;
    font-size: 30pt;
}
h2 {
    font-size: 22pt;
}
h3 {
    font-size: 16pt;
}
body {
    background-color: #F6F6FF;
    font-family:  Palatino, Garamond, Times, serif;
    color: rgb(20,20,20);
    margin: 0px;
    font-size: 12pt;
}


.topicheading {
    background-color: rgb(200,200,200);
    font-weight: bold;
    text-align: left;
    text-indent:1em;
}

.holiday {
    background-color: rgb(240,240,240);
    font-style: italic;
    text-align: center;
}

.deadline {
    font-weight: bold;
    color: #990000;
    font-variant: small-caps;
}

.newsflash {
    font-weight: bold;
    color: #993333;
    font-variant: small-caps;
}

table {
    font-size: inherit;
}
table.homeworks {
	border-width: medium medium medium medium;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: collapse;
}
table.homeworks th {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
        text-align : center;
}
table.homeworks td {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
        vertical-align:top;
        text-align : left;
}


table.schedule {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-width: medium medium medium medium;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: collapse;
}
table.schedule th {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
}
table.schedule td {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
        vertical-align:middle;
}
table.schedule li {
    margin-left: -2ex;
}

table.invisible {
    border-spacing: 0px;
    border-style: none none none none;
}
table.invisible td {
	border-width: 0px;
}


table.officehours {
    border-width: medium medium medium medium;
    border-spacing: 0px;
    border-style: none none none none;
    border-color: black black black black;
    border-collapse: collapse;
    margin-left: 100px;
}
table.officehours th {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
        text-align : center;
}
table.officehours td {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
        vertical-align:top;
        text-align : left;
}

.navbar-default {
  background-color: #6DA1F9;
  border-color: #1D2199;
  background-image:none;
  text-shadow:none;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffcf7d;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-nav > li > a {
  text-shadow:none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #a4c8de;
  background-image: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #c4e8fe;
  background-image: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #84a8be;
  background-image: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #84a8be;
  background-image: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #84a8be;
  background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eee;
  background-color: #84a8be;
  background-image: none;
}
.navbar-default .navbar-toggle {
  background-color: #84a8be;
  background-image: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #84a8be;
  background-image: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffcf7d;
}

.cancelled-officehour {
    text-decoration: line-through;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcf7d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcf7d;
    background-color: #84a8be;
    background-image: none;
  }
}