table.schedule {
	border-width: medium medium medium medium;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: black black black black;
	border-collapse: collapse;
}
table.schedule th {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
}
table.schedule td {
	border-width: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-style: inset inset inset inset;
	border-color: rgb(200,200,200) rgb(200,200,200) rgb(200,200,200) rgb(200,200,200);
	-moz-border-radius: 0px 0px 0px 0px;
        vertical-align:middle;
}
table.schedule li {
    margin-left: -2ex;
}

table.invisible {
    border-spacing: 0px;
    border-style: none none none none;
}
table.invisible td {
	border-width: 0px;
}
